.menu-access {
    margin: 20px 0;
    .list-menu {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        .menu-wrap {
            border: 1px solid gray;
            border-radius: 12px;
            padding: 20px;
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .access-action {
                display: flex;
                .menu-arrow {
                    width: 25px;
                }
                .is-showed {
                    display: flex;
                    font-size: 1.2rem;
                    span {
                        margin: 0 10px;
                    }
                }
                .is-allowed {
                    display: flex;
                    font-size: 1.2rem;
                    span {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
