@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import './sidebar';
@import './variables';
@import './menuAccess';

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: $mainColor;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.content {
    width: 75%;
    padding: 20px;
    background-color: $contentBgColor;
    .content-access {
        &.allowed {
            color: $secondaryColor;
        }
        &.not-allowed {
            color: $mainColor;
        }
    }
}